table{
    width: 100%;
}

table tr{
    width: 100%;
    border: solid;
    text-align: center;
    width: 100%;
    overflow-x: auto;
}

table input{
    width: 100%;
}

table tr:nth-child(even){
    background-color: #9c8e8e;
}

table tr:nth-child(odd){
    background-color: #b94c4c;
}

button img{
    width: 50%;
}

td img{
    width: 30%;
}