form{
    text-align: center;
    margin: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

body{
    text-align: center;
    padding-top: 20vh;
}