table{
    width: 100%;
}

table tr{
    width: 100%;
    border: solid;
    text-align: center;
    width: 100%;
    overflow-x: auto;
}

table input{
    width: 100%;
}

table tr:nth-child(even){
    background-color: #9c8e8e;
}

table tr:nth-child(odd){
    background-color: #b94c4c;
}

button img{
    width: 50%;
}

td img{
    width: 30%;
}

@media screen and (max-width: 1750px) and (min-width: 1250px){
    .activo{
        display: none;
    }
}
@media screen and (max-width: 1249px) and (min-width: 750px){
    .activo{
        display: none;
    }
    .telefono{
        display: none;
    }
}
@media screen and (max-width: 749px){
    .activo{
        display: none;
    }
    .telefono{
        display: none;
    }
    .nombre{
        display: none;
    }
}